<button nz-button nzType="primary"  [routerLink]="['./post']">Primary</button>
    <h3 [ngStyle]="{ 'margin-bottom.px': 16 }">Default Size</h3>
    <ul
      nz-list
      [nzDataSource]="data"
      nzBordered
      nzSize="large"
      [nzHeader]="'Header'"
      [nzFooter]="'Footer'"
      [nzRenderItem]="largeItem"
    >
      <ng-template #largeItem let-item>
        <li nz-list-item [nzActions]="[opAction]" [nzContent]="item" nzNoFlex></li>
        <ng-template #opAction><a (click)="msg.info('edit')">edit</a></ng-template>
      </ng-template>
    </ul>
